.logo {
    display: flex;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--header-color);
    padding: 24px 0px;


    @media screen and (min-width: 1200px) {
            font-size: 26px;
            padding-top: 24px;
            padding-bottom: 25px;
            // padding-left: 200px;
        }

    &__web-accent {
            color: var(--allocate-color);
        }


    &__header {
        padding-top: 15px;
        padding-left: 15px;
        padding-bottom: 15px;
        color: var(--header-color);

        @media screen and (min-width: 768px) {
                padding: 26px 0px;
                margin-right: 93px;
            }
        
        @media screen and (min-width: 1200px) {
                padding: 26px 0px;
                margin-right: 93px;
            }
    }

    &__footer {
        margin-bottom: 20px;
        padding: 0px;
        text-align: center;
        color: var(--allocate-color);


        @media screen and (min-width: 768px) {
                padding: 0px;
        
            }
        
        @media screen and (min-width: 1200px) {
                text-align: left;
            }
    }

    &__web-white {
        color: var(--white-color);
    }
}