:root {
    --header-color: #212121;
    --title-color: #ffffff;
    --contact-color: #757575;
    --logo-footer: #ffffff;
    --allocate-color: #2196f3;
    --button-text: #ffffff;
    --white-color: #ffffff;
    --bcg-second-color: #F5F4FA;
    --title-text-color: #212121;
    --btn-hover-color: #188ce8;
    --bcg-accent-color: #2F303A;
    --icons-color: #AFB1B8;
}




